.container {
	width: 80%;
	margin: 0 auto;
	
}
.header h1 {
	text-align: center;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 150;
	font-size: 120px
}
body {
	background-color: #fffeea;
	color: #34495e	
}
.image {
	display: inline;
	float: left;
	position: relative;
}
.skills {
	display: inline-block;
	float: right;
	width: 30%;
	position: static;
	clear: both;
}
.skills h3 {
	text-align: center;
	text-transform: uppercase;
}
.main_text {
	clear: left;
	padding: 10px;
}
.intro {
	text-align: center;
	float: right;
}
.intro p {
	font-family: impact, sans-serif;
	font-size: 3em;
	font-weight: 100;
}
#skill_list {
	margin-left: 50px;
}

/*typography*/
h1,
h2,
h3 {
	font-family: Futura, Helvetica, Arial, sans-serif;
}
