#dawork {
	padding: 15px;
}
#dawork img{
	padding-top: 30px;
	padding-bottom: 30px;
	display: block;
	height: 30%
	width: 30%;

}
.img-responsive {
	display: block;
	max-width: 100%
	height: auto;
}
#workblock {
	padding-top: 8em;
}
